.bg-purple{
    background-color: rgb(167, 66, 167);
}

.footer{
    height: 10rem;
    width: 100%;
    background-color: rgb(167, 66, 167);
    margin-top: 2rem;
}

a {
   text-decoration: none;
   color: black; 
}

.align-center{
    display: flex;
    justify-content: center;
}